
《Python语言程序设计课程设计》指导
一、课程简介
《Python语言程序设计(课程设计)》是计算机科学与技术专业实践教学环节的重要内容之一，是修完《Python语言程序设计》课程后进行的一次综合实践。其目的在于进一步熟练掌握Python的基础语法和Python常见扩展模块；培养学生能独立思考，分析问题的能力；在解决实际问题时能综合利用所学知识的能力，促进理论与实践的结合。本课程设计共计1.5周，1.5学分。
二、课设要求
所有的题目都要有图形用户界面(也可以是网站)，数据都要保存到数据库，并且能把数据库的内容保存到文件，或是从文件导入数据到数据库里。
建议用一些流行的开发环境，如VS Code，PyCharm，Anaconda等，不要单单用IDLE，Python官方自己带的。
可以从参考题目中任选一题，或自己选择与Python相关的题目（不能选游戏）。
每人可单独完成，或两个人组队完成。
三、报告要求
每人都要提交自己的课程设计报告到学习通，文件命名“学号姓名-题目.doc”。
组队的队员课设报告内容要70%以上不一样。
课设报告的格式根据模板写，每一级标题的格式、目录、参考文献的格式模板里都设置好了。参考文献要求5篇以上，目录要更新。
课设报告要求格式美观、字体大小合理；报告的内容要逻辑清晰。
正文字数不少于2000字（不包含附录中的代码）
四、考核方法
通过演示所设计的系统，展示系统功能。对学生的动手能力，独立分析解决问题的能力和创新精神，设计报告水平以及学习态度作综合考评。成绩为百分制。具体考核标准如下：
出勤（10%）
工作量、系统实现的功能和难度（35%）
答辩（15%）
设计报告写作质量（40%）
五、参考题目内容
下面的题目有涉及第三方库，自学所需的第三方库。题目涉及到的功能可适当进行修改。
天气预报查询系统
要求：实现仿手机端天气应用，支持城市天气查询、未来多日天气预报、气温/湿度/风力等气象数据展示、城市切换、天气状态图标展示、历史天气记录查询。
爬虫系统和数据可视化
要求：能够爬取网站的数据（爬取图书、电影票、飞机票、景点、音乐等等），并将数据存储到数据库中，采用推荐算法推荐相关数据；对数据进行展示、分析和可视化。
进销存管理系统
要求：商品分类、入库、库存盘点、销售结算、库存预警、供应商管理、日/月销售统计、出入库日志查询、销售图表可视化
健康跟踪器
要求：用户可自主记录日常饮食、运动锻炼、体重身体数据；支持历史记录查询、数据趋势统计、健康数据可视化，实现个人健康状况跟踪管理。

博客网站
要求：个人信息；发布新博文；对自己的博文进行编辑、删除，发布时设置分类、标签；浏览、搜索文章；对博文发表和删除自己的评论；查看评论。管理员对后台所有的数据进行管理。
影院售票管理系统
要求：包含影片信息管理、场次排片管理、在线选座售票、订单管理、退票功能。
课程选课管理系统
要求：分教务员、教师、学生三类角色；支持教务课程录入、学生在线选课与退课、选课人数统计、自动生成个人课表等
图书馆管理系统
要求：图书分类、读者管理、借书、还书、逾期罚款、借阅记录查询、库存统计
在线考试系统
要求：题库管理、随机组卷、自动批改（选择、填空题）、成绩存档、错题统计、分数排名
在线学习平台
要求：支持用户在线播放视频、预览查看PPT或PDF学习资料；配套学习资源分类、资源检索、学习记录保存、资源上传等。
校园考勤签到管理系统
要求：班级考勤、迟到早退记录、月度考勤统计、人员缺勤报表、历史记录查询；可考虑定位或通过图像识别功能
校园失物招领管理系统
要求：发布失物招领信息；发布信息后系统自动比对库内数据，推送疑似匹配的信息；留言功能；信息检索；统计丢失高发物品、高发地点，生成简单统计。
聊天室应用
要求：实现多用户在线实时聊天室，支持用户登录、在线人员展示、实时收发文字消息、聊天记录保存、基础聊天室管理功能。
图像处理工具
要求：集成多功能图像处理能力，支持图片格式转换、基础调色（亮度、对比度、饱和度、色温、锐化）、图片裁剪/缩放/旋转、滤镜特效添加、多图拼接等
视频处理应用
要求：支持视频在线播放、视频裁剪、片段剪辑、分辨率调整、视频格式转换、简单特效处理等操作，保存操作记录
pdf文档处理工具
要求：对pdf文件进行操作,如拆分、合并、转换、添加水印、文本提取等等，保存操作记录
语音识别与合成
要求：调用第三方语音接口库，如实现语音转文字（语音识别）、文字转语音（语音合成），支持音频导出、保存操作记录。
音乐分析器
要求：分析音频文件，提取音乐特征（如节奏、音调、音量），并进行可视化或分类。
机器学习情绪分析
要求：基于Python机器学习框架，对文本数据集进行预处理、模型训练与迭代，构建情绪分析模型，实现文本正面、负面、中性情绪自动识别与判断。
机器学习图像识别应用
要求：依托机器学习开源库，开发图像识别应用，支持人脸识别、车牌识别等场景，实现图片内物体、场景的自动识别与结果输出。
机器学习算法实现
要求：自主实现经典机器学习算法，完成数据集预处理、模型训练、参数调优、数据预测与结果评估，完整落地算法训练全流程。


